p {
    font-family: Arial, Helvetica, sans-serif;
}

.sliderThesis, .companyName {
    font-family: 'PT Serif', serif;
}

body {

    margin: 0;
   }

.header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 68%;
    margin: auto;
    border: dashed 1px red;
}

.logo, .menu {
    
    border: dashed 1px red;

}

.logo {
   padding: 40px 0;
} 

.menu{
    display: flex;
    align-items: center;
}
.menuItem {
    padding: 0 12px;
}

.menuItem:last-child {
    padding-right: 0;
}