p {
    font-family: Arial, Helvetica, sans-serif;
}

.sliderThesis, .companyName {
    font-family: 'PT Serif', serif;
}

body {

    margin: 0;
   }

.header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 68%;
    margin: auto;
    border: dashed 1px red;
}
.slider {
    display: flex;
    justify-content: space-between;
}
.logo, .menu {


}

.logo {
   position: relative;
   padding: 40px 0;
   padding-left: 44px;
   font: 700 24px/32px 'PT serif', arial, Helvetica, sans-serif;
   width: 190px;
   height: 35px;
   /*background: url('img/logo.svg');*/
   /*border: 1px purple solid;*/
}
.logoCircle{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logoDarkBlueCircle{
    background: #0056EC;

}

.logoBlueCircle{
    left: 8px;
    top: 56%;
    background: #C8DBFB;
}


.menu{
    display: flex;
    align-items: center;
}
.menuItem {
    padding: 0 12px;
}

.menuItem:last-child {
    padding-right: 0;
}
